
#main-div{
    background-color:aliceblue;
    width:550px;
    height: 300px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px 2px grey;
    padding:36px;
    display: block;
   
}
.input{
    margin-bottom:27px;
}
.btn{
    background-color:#296fb0;
    padding:10px 38px ;
    font-size:18px;
    color:white;
    border:none;
    margin-right:28px;
    margin-top:10px;
    margin-bottom:5px;
    border-radius:30px;
    cursor:pointer;
    text-decoration:none;
}
#text-div{
    margin-top: 100px;
}
#text{
    font-style: none;
}
.login{
    margin-top: 110px;
}