/* .nav-bar {
    height: 70px;
    background-color: blue;

} */

 
 #navbar{
    background-color: #f0f6fc;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    height: 77px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    box-shadow: 0px 1px 4px 3px whitesmoke;
}
img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-left: 10px;
    margin-bottom: 10px;
    
}
.btn{
    background-color: #4f94d4;
    padding:10px 38px ;
    font-size:16px;
    color:white;
    border:none;
    margin-right:28px;
    margin-top:10px;
    margin-bottom:10px;
    border-radius:10px;
    cursor:pointer;
    text-decoration: none;
}
a{
    text-decoration: none;
}