table{
    width:1000px;
    text-align: center;
    margin-top: 15px;
}
table,th,td{
    
    border:2px solid black;
    border-collapse:collapse;
    padding:16px;
    font-size:18px
}
th{
    background-color: lightblue;
}
.search-box{
    margin-top:40px;
    padding:12px 24px;
    border-radius:20px;
    width:400px;
    font-size:20px;
}
#heading{
    margin-top: 100px;
    font-size: 48px;
    font-family: 'Lobster', cursive;
    color: #48CFAD;
    text-shadow: 2px 4px lightgreen;
}
.header-civil{
    margin-top: 120px;
    width: 750px;
}
.header-it{
    margin-top:120px;
    width: 900px;
}
.header-cse{
    margin-top: 120px;
    width: 700px;
}
.header-ece{
    margin-top: 120px;
    width: 900px;
}
.header-ee{
    margin-top: 120px;
    width: 700px;
}
.header-me{
    margin-top: 120px;
    width: 700px;
}
.search-input{
    width: 270px;
    padding: 4px 24px;
    border-radius: 40px;

}
.search-bar{
margin-left: 1160px;
margin-top: -45px;
}