.main-div{
    display: flex;
    justify-content: space-between;
    margin: 145px;
}
.btn{
    border:none;
    background-color:#13963c;
    color:white;
    padding:16px 38px;
    font-size:18px;
    border-radius:10px;
    cursor:pointer;
}
.subtext{
    font-size:22px;
    margin-top:38px;
    margin-bottom:35px;
}
.text{
    font-size:70px;
    font-weight:600;
    color:#1e73c3;
    text-overflow:clip;
}
.img{
    width:850px;
    height:570px;
    margin-top:-670px;
    margin-left:800px;

}