#main-div{
    display: flex;
    justify-content: space-between;
}
.btn{
    border:none;
    background-color:#135e96;
    color:white;
    padding:16px 38px;
    font-size:16px;
    border-radius:10px;
    cursor:pointer;
}
#subtext{
    font-size:22px;
    margin-top:38px;
    margin-bottom:38px;
}
#text{
    font-size:68px;
    font-weight:600;
    color:#4f94d4;
    text-overflow:clip;
}
#img{
    width:600px;
    height:370px;
    margin-top:-355px;
    margin-left:631px
}