.main-div{
    display: flex;
    justify-content: space-between;
    margin: 100px;
}
.btn{
    border:none;
    background-color:#13963c;
    color:white;
    padding:16px 38px;
    font-size:16px;
    border-radius:10px;
    cursor:pointer;
}
.subtext{
    font-size:20px;
    margin-top:38px;
    margin-bottom:38px;
}
.text{
    font-size:58px;
    font-weight:600;
    color:#4f94d4;
    text-overflow:clip;
}
.img{
    width:600px;
    height:370px;
    margin-top:-655px;
    margin-left:700px;
    
}